.campo-digitacao {
    font-size: 20px;
    height: 123px;
    border: 10px solid black
}

.frase {
    font-size: 20px;
    text-align: justify;
}

.campo-desativado{
    background-color: lightcoral;
}

.icones{
    vertical-align: middle;
    size: 20px;
}

.borda-verde{
    border: 10px solid green;
}

.borda-vermelha{
    border: 10px solid red;
}
